<div class="format-strawberryfield-pdfs-controller">
    <div class="pages">Pages: <span id="{{ item.id }}-pagenum">1</span>&nbsp;of <span id="{{ item.id }}-pagecount"></span></div>
    <button id="{{ item.id }}-next" type="button" title="{{ 'Next'|t }}">Next</button>
    <button id="{{ item.id }}-prev" type="button" title="{{ 'Previous'|t }}">Previous</button>
</div>
